pyrogram
pyromod
psutil
PySocks
py-tgcalls==0.6.0
pytz
python-dotenv
pycryptodome
pyaes
tgcrypto
requests
yt-dlp
ffmpeg
beautifulsoup4==4.9.3
bs4==0.0.1
aiohttp
aiofiles
mediainfo
cloudscraper
helper
soupsieve
urllib3
websockets
async-lru
certifi
charset-normalizer
idna
mutagen
